@{
    ViewData["Title"] = "Hem";
}
    <div class="">
        <img class="front-bg" src="~/images/framNY2.png" />
        <img class="front-bubb" src="~/images/NYbubb.png" />

    </div>
<div class="row bottom-margin">
    <div class="col col-12 col-lg-9" style="padding-top: 40px; text-align: center;">
        <center>
            <div style=" font-family: 'active';">
                <div style="font-size: 60px;">SÄLJ CHOKLAD, LAKRITS & KOLA</div>
            </div>
            <div style=" font-family: 'active';">
                <h1>Kom igång enkelt!</h1>
            </div>
            <h6>Tjäna pengar till klassen, laget och föreningen!</h6>
            <br />
            <br />
            <a class="btn btn-lg btn-custom" style="text-shadow: 0px 0px #000000;" asp-area="Identity" asp-page="/Account/Register">Starta en försäljning</a>

        </center>
    </div>
    <div class="col col-12 col-lg-3"></div>
</div>

<div class="row top-margin">
    <div class="col col-12 col-lg-4 text-center" style="margin-top: 20px;">
        <a class="" asp-area="Identity" asp-page="/Account/Register">
            <img class="" src="~/images/1n.png" width="300" />
        </a>
        @*<div class="jumbotron" style="text-align: center;">
                <center>
                    <div class="circle">1</div>
                </center>
                <br />
                <h4>Beställ säljpaket</h4>
                <br />
                <p>
                    En kontaktperson / ansvarig beställer vårt kostnadsfria säljpaket, som innehåller allt säljmaterial ni behöver till försäljningen.
                </p>
                <a class="" asp-area="Identity" asp-page="/Account/Register">
                <img class="" src="~/images/2.png" width="300" />

                </a>

            </div>*@
    </div>
    <div class="col col-12 col-lg-4 text-center" style="margin-top: 20px;">
        <a class="" asp-area="Identity" asp-page="/Account/Register">
            <img class="" src="~/images/2n.png" width="300" />
        </a>
        @*<div class="jumbotron" style="text-align: center;">
                <center>
                    <div class="circle">2</div>
                </center>
                <br />
                <h4>Ta upp beställningar</h4>
                <br />
                <p>
                    Sälj våra utsökta produkter till grannar, släktingar och arbetsplatser. Ta enkelt upp
                    beställningar i beställningsunderlaget och lägg in er unika beställning på
                    www.sweetforyou.se på ”mina sidor” med er gemensamma inloggning.
                </p>

            </div>*@
    </div>
    <div class="col col-12 col-lg-4 text-center" style="margin-top: 20px;">
        <a class="" asp-area="Identity" asp-page="/Account/Register">
            <img class="" src="~/images/3n.png" width="300" />
        </a>
        @*<div class="jumbotron" style="text-align: center;">
                <center>
                    <div class="circle">3</div>
                </center>
                <br />
                <h4>Leverera, ta betalt och tjäna pengar!</h4>
                <br />
                <p>
                    Efter säljperioden skickar ni in era beställningar som kunder beställt av er. När ni fått
                    produkterna levererar ni ut till kunderna, tar betalt, och behåller er vinst direkt.
                    <br />
                    <br />
                    Smidigt, enkelt och kul!
                </p>

            </div>*@
    </div>
</div>

<div class="row">
    <div class="col col-12 col-lg-6 navbar-large">
        <center>
            <img class=" image-chok-small" src="~/images/chok2.png"/>

        </center>

    </div>
    <div class="col col-12 col-lg-6">
        <center>
            <br />
            <img class="image-bubble" src="~/images/bubblany_1.png" />

        </center>

    </div>

</div>


<br />


<div class="jumbotron jumbotron-shop" style="text-align: center">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Kom igång redan nu! - Registrera dig som ny kund här!</a>

</div>




