
@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: -20px;">
    <div class="col col-12 col-lg-12" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
        <img class="navbar-large" src="~/images/infoöverst.png" style="width: 100%" />
    </div>
</div>

<div class="row" style="margin-top: -50px; margin-bottom: 50px;">
    <div class="navbar-large">
        <img class="tryggt-bubble" src="~/images/bubblany_1.png" />

    </div>
    <div class="col col-12 col-lg-12 text-center">
        <center>
            <img class="" src="~/images/utrops.png" width="200" />
            <div style="font-family: 'active'; font-size: 30px;">
                SÅ HÄR GÅR DET TILL!
                <br /><br />
            </div>
            <div style="font-family: 'Sans Serif'; font-size: 16px;">
                <p>
                    - En ansvarig skapar ett inlogg här på hemsidan
                </p>
                <p>
                    - Vi skickar materialet till ansvarig inom ca 2-4 dagar.
                </p>
                <p>
                    - Dela ut till klassen/laget/föreningen.
                </p>
                <p>
                    - Sätt ett slutdatum. Vi rekommenderar ca 3-4 veckor.
                </p>
                <p>
                    - Alla säljare ska logga in med samma lösenord som ansvarig skapade.
                </p>
                <p>
                    - Alla lägger in sin egen order och slutför.<br />
                    (Om inget annat är avtalat med ansvarig)
                </p>
                <p>
                    - Vi skickar produkterna till vald leveransadress.<br />
                    Leveranstiden är ca 2-3 veckor.
                </p>
                <p>
                    - Dela ut alla produkter och ta betalt omgående av kund.
                </p>
                <P>
                    - Ni har 30 dagar på er att betala er faktura till Sweets for you.
                </P>
            </div>

        </center>



    </div>
    <div class="col col-12 navbar-small">
        <center>
            <br />
            <img class="" src="~/images/bubb2NY.png" width="350" />

        </center>

    </div>

</div>
<br />
<div class="navbar-large">
    <img class="info-bg" src="~/images/Info_kille2.png" />
</div>
<div class="navbar-large">
    <img class="info-bubbla" src="~/images/Info_bubbla.png" />
</div>

<div class="row align-content-center align-items-center" style="height: 414px">
    <div class="col col-12 col-lg-6">


    </div>
    <div class="col col-12 col-lg-6" style="padding-top: 100px;">

        <center>
            <a class="btn btn-lg btn-custom" style="border-color: white;" asp-area="Identity" asp-page="/Account/Register">Starta en försäljning</a>
            <br /><br />
            <a class="" asp-area="Identity" asp-page="/Account/Register">
                <img class="" src="~/images/Info_kata.png" width="244" />
            </a>

        </center>


    </div>

</div>
