@{
    ViewData["Title"] = "Allmäna villkor";
}
<h1>Allmäna villkor</h1>
<br />
<p>
    Mellan Sweets For You och KUNDEN gäller dessa villkor. Försäljning och distribution av SFY produkter sker genom att KUNDEN beställer Säljpaketet. Då skapas ett separat inlogg där varje säljare kan lägga in beställningar.

</p>
<p>
    Sedan skickar SFY den gemensamma beställningen med separata beställningsunderlag till KUNDEN inom 5 dagar. Den person som skapar säljpaketet blir administratör för er försäljning. Utsedd kontaktperson som solidariskt ansvarar för betalning gentemot SFY.
</p>

<p>
    Förtjänst/Vinst:<br />
    KUNDEN kan enkelt se vad ni tjänat ihop på er sida. Vi har en snittmarginal på 30%.
</p>

<p>
    Sweet For You förpliktelser:<br />
    SFY åtar sig att stödja KUNDEN under säljperioden samt förbinder sig att ersätta eventuella reklamationer efter prövning.

</p>

<p>
    Övrigt:<br />
    SFY ansvarar inte för förseningar av leveranser som påverkas av yttre omständigheter. SFY har vid sådana tillfällen rätt att senarelägga en leverans upp till 1 månad, utan extra ersättning för KUNDEN.

</p>

<p>
    Kundens förpliktelser:<br />
    KUNDEN förbinder sig att följa de anvisningar och instruktioner som lämnas av SFY i samband med försäljningen av SFY´s produkter. De är upp till KUNDEN att vara medveten om innehållet i produkterna som säljs. Denna information hittar ni på respektive produkt på hemsidan.

</p>
<p>
    Krav på kontaktperson:<br />
    Kontaktpersonen skall vara myndig, minst 20 år, inte vara belastad med betalningsanmärkningar. Observera att kreditkontrollen inte registreras hos UC. Kontaktperson/Ansvarig har betalningsansvar gentemot Sweets For You.

</p>
<p>
    Betalningsvillkor:<br />
    Faktura skickas separat per post/mejl i samband med KUNDENS slutleverans med en kredit om 30 dagar från leveransdagen. Vid försenad betalning utgår dröjsmålsränta, för närvarande 4 % per påbörjad månad.

</p>
<p>
    Frakt:<br />
    Alla våra leveranser är fraktfria förutom gruppordrar under 25 produkter, då tillkommer en frakt på 175 kr. Om mottagaren inte på avtalad dag/tid befinner sig på leveransadressen för att ta emot slutleverans, alternativt inte svarar på det av kontaktpersonen angivna telefonnummer och en ny utkörning krävs, skall eventuell extra kostnad för frakt betalas av kontaktpersonen.

</p>
<p>
    Utebliven försäljning:<br />
    När produkterna lämnat vårt lager har KUNDEN förbundit sig att fullfölja en försäljning till den angivna veckan. Vid utebliven försäljning debiteras ändå total levererad order.

</p>

<p>
    Retur:<br />
    Där konsument inte tar emot beställd vara, sker retur efter prövning. Där kunden tar hem ett parti för att sälja direkt utan att först ta upp beställningar gäller inga returer.

</p>