<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .newlines {
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <p>Hej!</p>
    <p>Nytt meddelande från frågeformulär.</p>
    <table width="500">
        <tr>
            <td>
                Namn
            </td>
            <td>
                :
            </td>
            <td>
                #FirstName# #LastName#
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                :
            </td>
            <td>
                #Email#
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
                Meddelande
            </td>
            <td valign="top">
                :
            </td>
            <td valign="top" align="left" class="newlines">
                #Message#
            </td>
        </tr>
    </table>
    <br />
    <br />
</body>
</html>