<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <img src="http://sweetforyou.azurewebsites.net/images/LOGO.png" width="250" />
    <br /><br />
    <p>Tack för att du valt Sweets For You!</p>
    <br />
    #Confirm#
    <br /><br />
    <p>
        - Vi skickar materialet till dig inom ca 2-4 dagar.<br />

        - Dela ut till klassen/laget/föreningen.<br />

        - Sätt ett slutdatum. Vi rekommenderar ca 3-4 veckor.<br />

        - Alla säljare ska logga in med samma lösenord som ansvarig skapade.<br />

        - Alla lägger in sin egen order och slutför.<br />
        (Om inget annat är avtalat med ansvarig)<br />

        - Vi skickar produkterna till vald leveransadress.<br />
        Leveranstiden är ca 2-3 veckor.<br />

        - Dela ut alla produkter och ta betalt omgående av kund.<br />

        - Ni har 30 dagar på er att betala er faktura till Sweets for you.<br />
    </p>
    <p>Lycka till!</p>
    <br />
</body>
</html>