<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hej!</p>
    <p>En ny kund har registrerat sig.</p>
    <table>
        <tr>
            <td>
                Skola / Förening
            </td>
            <td>
                :
            </td>
            <td>
                #Company#
            </td>
        </tr>
        <tr>
            <td>
                Klass / Avdelning
            </td>
            <td>
                :
            </td>
            <td>
                #Department#
            </td>
        </tr>
        <tr>
            <td>
                Antal säljare
            </td>
            <td>
                :
            </td>
            <td>
                #Participants#
            </td>
        </tr>
    </table>
    <br />
    <br />
</body>
</html>