@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Vi har mailat dig!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kolla din inkorg för att se ditt användarnan och / eller återställa ditt lösenord.<br />
    Om mail för återställning ej dyker upp i inkorgen. Kolla skräppost och att du angivit rätt epostadress.
</p>

