@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Återställning av lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord har återställts.  <a asp-page="./Login">Klicka här för att logga in!</a>.
</p>
